.icon-box {
  height: 30px;
  margin: 0;
}
.icon-box .icon-img {
  width: 18px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.icon-box .name {
  line-height: 30px;
  font-size: 14px;
  margin-left: 4px;
  color: #383838;
  font-weight: bold;
  vertical-align: middle;
}
